.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-conatainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 10%;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
    /* padding-left: 23px; */
}

.cart-container h2 {
    text-align: center;
}

.review {
    border: none;
    border-radius: 4px;
    width: 232px;
    height: 48px;
    margin: 18px;
}

@media screen and (max-width:800px) {
    .shop-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-conatainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:801px) and (max-width:1200px) {
    .shop-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-conatainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1201px) and (max-width:1400px) {
    .shop-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-conatainer {
        grid-template-columns: repeat(3, 1fr);
    }
}